<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container">
      <h1 style="text-align: center;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Welcome to Tamil Cinema Hub</h1>
      <fieldset>
        <legend class="abt-cinema" style="color: blue">About</legend>
        <p class="abt-cinema">
          Cinema Hub, it is a movie database featuring extensive details such as
          movie names, director and actor information, ratings, and box office
          statistics. The platform offers users a variety of functionalities,
          including the ability to filter movies based on criteria such as
          release year, actors, and directors. What sets it apart is the
          innovative feature allowing users to create custom filters, enhancing
          their experience by tailoring searches to their preferences. With its
          user-friendly interface and dynamic filtering options, Cinema Hub
          provides a seamless and personalized movie exploration experience for
          film enthusiasts.
        </p>
      </fieldset>
      <br />
      <h2 style="color: blue;">Explore</h2>
      <ul>
        <li>
          <h3 style="font-weight: bold;">Movie Section</h3>
          <ul>
            <li>Explore comprehensive movie details</li>
            <li>
              Find information on directors, actors, ratings, and box office
              stats
            </li>
          </ul>
        </li>
        <br>
        <li>
          <h3 style="font-weight: bold;">Settings Section</h3>
          <ul>
            <li>Customize your movie searches</li>
            <li>Add personalized filters for a tailored experience</li>
          </ul>
        </li>
      </ul>
      <p></p>
    </div>
  </body>
</html>
