*{
    font-family:Verdana;
}
.container{
    height: auto;
    padding: 0px 25px;
   
}
.abt-cinema{
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    line-height: 2rem;
}