<mat-toolbar  class="header">
  <img src="../assets/tamil-cinema-pic.jpg" width="230px" alt="logo">
  <div class="company"><h1>Tamil Cinema Hub</h1></div>
</mat-toolbar>

<div class="container">
  <mat-sidenav #sidenav opened="true" mode="side" position="start">
    <mat-nav-list>
        <button mat-button routerLinkActive="active" routerLink="home"><mat-icon>home</mat-icon> &nbsp;&nbsp;Home</button>
    </mat-nav-list>
    <mat-nav-list>
      <button mat-button routerLinkActive="active" routerLink="movies"><mat-icon>movie</mat-icon> &nbsp;&nbsp;Movies</button>
    </mat-nav-list>
    <mat-nav-list>
      <button mat-button routerLinkActive="active" routerLink="settings"><mat-icon>settings</mat-icon> &nbsp;&nbsp;Settings</button>
    </mat-nav-list>
  </mat-sidenav>
  
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
