.mat-elevation-z8{
    margin-left: 10px;
    margin-right: 10px;
}
h4{
    color:rgb(10, 6, 248);
}

.select-field{
    padding-left: 15px;
}

.box-office{
    margin: 20px;
    border: 1px solid rgb(212, 210, 210);
    width:200px;
    padding:4px;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
}